<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIBGAME</title>
</head>
<body>
  <div class="container">
      <div class="page-header">
         <h1>{{title}}</h1>
      </div>
      <table class="table table-striped table-responsive table-bordered">
         <thead class="thead-default">
            <tr>
               <th>Name</th>
               <th>Category</th>
               <th>Console</th>
            </tr>
        </thead>
        <tbody>
        {%for game in games%}
           <tr>
              <td>{{ game.name }}</td>
              <td>{{ game.category }}</td>
              <td>{{ game.console }}</td>
           </tr>
        {%endfor%}
        </tbody>
      </table>
  </div>
</body>
</html>