{% extends "template.html" %}
{% block content %}
      <form action="/create" method="post">
        <fieldset>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control">
          </div>
            <label for="category">Category</label>
            <input type="text" id="category" name="category" class="form-control">
            <div class="form-group">
            <label for="console">Console</label>
            <input type="text" id="console" name="console" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-save">save</button>
        </fieldset>
      </form>
{% endblock %}